<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>

    <link rel="stylesheet" href="index.css">
</head>
<body>
{{ if ge .Finalvalue 80 }}
    good
{{ else if ge .Finalvalue 60 }}
    HALO KONTO
{{ else }}
    try again
{{ end }}
</body>
</html>